/* Navbar */
@media (max-width: 767px) { .navbar-header { width: 100vw }}

/* Product title */
@media (max-width: 599px) {
    .title { padding: 1rem 0 }
    .title .card {  padding: 0 }
}

/* Product container */
@media (max-width: 599px) {
    .product-container { padding: 0 }
    .product .card {
        width: 90%;
        margin: 0 auto;
        padding: 0 ;
    }
}
/* Product section */
@media (max-width: 767px) { .product-section { grid-template-columns: 1fr } }