@media (max-width: 599px) {
    .services-container {
        padding: 0 ;
        margin-top: 50rem;
    }
    .services .card {
        margin: 0 auto 2rem;
        padding: 0 ;
    }
    @media (min-width: 321px) and (max-width: 375px) {
        .services .card .features{
            left: 37.5%;
        }
    }
    @media (min-width: 376px) and (max-width: 539px) {
        .services .card .features{
            left: 40%;
        }
    }
}

@media (max-width: 599px) {
    .title {
    padding: 1rem 0;
    }
    .title .card {
        padding: 0;
    }
}