* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --mainWhite: #f1f5f8;
    --white: #fff;
    --mainTransition: all 2s ease-in-out;
}
a {
    color: inherit;
}
button {
    color: inherit;
    outline: none;
}

.center {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 0 auto;
}
.defaultBcg {
    background: linear-gradient(to right, rgba(0,0,0,.5), rgba(0,0,0,.5)),
        url('../images/services-bg.jpg') center/cover no-repeat;
    width: 100vw;
    height: 70vh;
}
/* Header css */
.title {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 0 auto 1.5rem;
    padding: 0rem 3rem;
    width: 100%;
    background: var(--mainWhite);
    color: var(--darkGrey);
    place-items: start;
    text-transform: capitalize;
}
.title .card {
    margin: auto auto 2px;
    padding: .25rem 1rem;
    place-content: center;
}
.title .card h1 {
    font-size: 1.5rem;
    letter-spacing: .2rem;
    word-spacing: .25rem;
}
.title .card span {
    text-transform: lowercase;
}

@media (max-width: 767px) {
    .navbar-header {
        width: 100vw;
    }
}